<!-- src/app/product/product.component.html -->
<main>
    <div class="center-content">
      <h1>Product Details</h1>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Brand</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody *ngIf="products.length; else noProducts">
            <tr *ngFor="let product of products" class="product-item" (click)="viewProductDetails(product.productId!)">
              <td> {{ product.productId}}</td>
              <td>{{ product.productName }}</td>
              <td>{{ product.price | currency }}</td>
              <td>{{ product.brand }}</td>
              <td>{{ product.quantity }}</td>
            </tr>
          </tbody>
          <ng-template #noProducts>
            <tr>
              <td colspan="5">No products available</td>
            </tr>
          </ng-template>
          
      </table>
    </div>
  </main>
  