 <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div class="product-image">
        {{ isEditing }}
        <!-- <img [src]="product.imageUrl" alt="{{ 1*2 }}" /> -->
      </div>
  
      <div class="form-group">
        <label for="name">Product Name:</label>
        <input
          type="text"
          id="name"
          formControlName="productName"
          placeholder="Enter product name"
        />
        <div *ngIf="productForm.get('productName')?.invalid&&productForm.get('productName')?.touched" class="error-message">
          <small *ngIf="productForm.get('productName')?.hasError('required')">Product Name is required</small>
        </div>
      </div>
  
      <div class="form-group">
        <label for="price">Price:</label>
        <input
          type="number"
          id="price"
          formControlName="price"
          placeholder="Enter product price"
        />
        <div *ngIf="productForm.get('price')?.invalid&&productForm.get('price')?.touched" class="error-message">
          <small *ngIf="productForm.get('price')?.hasError('required')">Price is required</small>
        </div>
      </div>
  
      <div class="form-group">
        <label for="brand">Brand:</label>
        <input
          type="text"
          id="brand"
          formControlName="brand"
          placeholder="Enter product brand"
        />
        <div *ngIf="productForm.get('brand')?.invalid&&productForm.get('brand')?.touched" class="error-message">
          <small *ngIf="productForm.get('brand')?.hasError('required')">Brand is required</small>
        </div>
      </div>
  
      <div class="form-group">
        <label for="quantity">Quantity:</label>
        <input
          type="number"
          id="quantity"
          formControlName="quantity"
          placeholder="Enter quantity"
        />
        <div *ngIf="productForm.get('quantity')?.invalid&&productForm.get('quantity')?.touched" class="error-message">
          <small *ngIf="productForm.get('quantity')?.hasError('required')">Quantity is required</small>
        </div>
      </div>
  
      <div class="form-group">
        <button type="submit" [disabled]="!productForm.valid || !isEditing">
          Save
        </button>
      </div>
    </form>

  